body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    background-color: #bfd5c8; /* Verde oscuro */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.logo {
    max-width: 800px; /* Ajusta el tamaño del logo según tus preferencias */
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header p {
    margin: 10px 0 0;
    font-size: 16px;
}

/* Resto de los estilos ... */
